name: Main Build

on:
  pull_request:
  push:
    branches:
    - main
    paths:
    - '*'
    - '!/docs/*' # Don't run workflow when files are only in the /docs directory

jobs:
  vm-job:
    name: Ubuntu
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
        ports:
        - 5432/tcp
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-latest@sha256:e7ef04aca478b8aa8dd6380297bdae4969c9ae03cf39de3af94bb6ce3273ca53
        ports:
        - 1433/tcp
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: "Password."
      mysql:
        image: mysql@sha256:6b18d01fb632c0f568ace1cc1ebffb42d1d21bc1de86f6d3e8b7eb18278444d9
        ports:
        - 3306/tcp
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
    steps:
    - name: Checkout code
      uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1
    - name: Setup dotnet
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
      with:
        dotnet-version: '9.0.x'
    - name: .NET Build
      id: build
      run: |
        set -o pipefail
        dotnet build Build.csproj -c Release /p:CI=true 2>&1 | tee build.log
    - name: Dapper Tests
      id: test
      run: |
        set -o pipefail
        dotnet test tests/Dapper.Tests/Dapper.Tests.csproj -c Release --logger GitHubActions -p:CI=true -p:TestTfmsInParallel=false 2>&1 | tee test.log
      env:
        MySqlConnectionString: Server=localhost;Port=${{ job.services.mysql.ports[3306] }};Uid=root;Pwd=root;Database=test;Allow User Variables=true
        OLEDBConnectionString: Provider=SQLOLEDB;Server=tcp:localhost,${{ job.services.sqlserver.ports[1433] }};Database=tempdb;User Id=sa;Password=Password.;
        PostgesConnectionString: Server=localhost;Port=${{ job.services.postgres.ports[5432] }};Database=test;User Id=postgres;Password=postgres;
        SqlServerConnectionString: Server=tcp:localhost,${{ job.services.sqlserver.ports[1433] }};Database=tempdb;User Id=sa;Password=Password.;
    - name: .NET Lib Pack
      run: dotnet pack Build.csproj --no-build -c Release /p:PackageOutputPath=%CD%\.nupkgs /p:CI=true
    - name: CodeLogic Agent Scan
      if: success() && github.ref == 'refs/heads/main'
      run: |
        docker run --pull always --rm \
          --env CODELOGIC_HOST="https://dapper.app.codelogic.com" \
          --env AGENT_UUID="${{ secrets.AGENT_UUID }}" \
          --env AGENT_PASSWORD="${{ secrets.AGENT_PASSWORD }}" \
          --volume "${{ github.workspace }}/Dapper/bin/Release/net461:/scan" \
          dapper.app.codelogic.com/codelogic_dotnet:latest analyze \
          --application "dapper-app" \
          --scan-space-name "dapper-ss" \
          --path /scan \
          -m "Dapper" \
          --rescan \
          -e
    - name: Send Build Info on Failure
      if: failure()
      run: |
        LOG_FILE_ARGS=""
        # Prioritize build failure, then test failure
        if [ "${{ steps.build.outcome }}" == "failure" ] && [ -f "build.log" ]; then
          LOG_FILE_ARGS="--log-file=/log_file_path/build.log --log-lines=10000"
        elif [ "${{ steps.test.outcome }}" == "failure" ] && [ -f "test.log" ]; then
          LOG_FILE_ARGS="--log-file=/log_file_path/test.log --log-lines=10000"
        fi
        docker run --rm \
          --env CODELOGIC_HOST="https://dapper.app.codelogic.com" \
          --env AGENT_UUID="${{ secrets.AGENT_UUID }}" \
          --env AGENT_PASSWORD="${{ secrets.AGENT_PASSWORD }}" \
          --volume "${{ github.workspace }}:/scan" \
          --volume "${{ github.workspace }}:/log_file_path" \
          dapper.app.codelogic.com/codelogic_dotnet:latest send_build_info \
          --pipeline-system="GitHub Actions" \
          --job-name="${{ github.job }}" \
          --build-number="${{ github.run_number }}" \
          --build-status="FAILURE" \
          --path="/scan" \
          $LOG_FILE_ARGS
      continue-on-error: true
